# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
port		                 = 3306

key_buffer		             = 16M
thread_stack		         = 192K
thread_cache_size            = 8
max_connections              = 5000
max-user-connections         = 5000
max_user_connections         = 5000
max-connections              = 5000

# Optimizations
query_cache_limit        = 10M
query_cache_size         = 16M
query_cache_type         = 1
query_cache_min_res_unit = 2k
key_buffer_size          = 16M
thread_stack             = 192K
thread_cache_size        = 8
innodb_buffer_pool_size  = 1G
tmp_table_size           = 16M
join_buffer_size         = 1M
max_allowed_packet       = 1G
net_read_timeout         = 3600
net_write_timeout        = 3600

# Other Settings
expire_logs_days	     = 10
max_binlog_size          = 100M

log_error = /var/log/mysql/error.log

skip-external-locking
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet  = 1G

[mysql]

[isamchk]
key_buffer = 16M
